In [1]:
##########################################################################
##
## Original Code written for SBU's Big Data Analytics Project 
##
## Student Name: Sai Bhargav Varanasi
## Student ID: 114707860
## Student Name: Aniket Panda
## Student ID: 114356301
## Student Name: Akash Sateesh
## Student ID: 113221752
## Student Name: Priyanka Amol Dighe
## Student ID: 113264191

#Data merging file to get merged gsod county data
#drive link : https://drive.google.com/drive/folders/1e9QQCNxYA9X3BFsurEWTqFkBkRUnDTW8?usp=sharing
import pandas as pd

In [15]:
# gsodcountydf = pd.read_csv("Data/gsod-county.csv")
# gsodcountydf = gsodcountydf.set_index('station')
gsodcountydf.head()

           lat     long state    placeid           county
station
621010   50.60   -2.933   NaN  282210115              NaN
621300   53.00    1.700   NaN  282210115              NaN
690014   32.35 -106.367    NM  282672428     Otero County
690020   36.00 -121.233    CA  141782936  Monterey County
690020   36.00 -121.233    CA  141782936  Monterey County

In [33]:
gsod_mergeddf = pd.read_csv("LatestData/merged-file-2010.txt",delim_whitespace=True,
               header=None,
               names=[
                   "station",
                   "wban",
                   "yearday",
                   "temp",
                   "temp2",
                   "dewp",
                   "dewp2",
                   "slp",
                   "slp2",
                   "stp",
                   "stp2",
                   "visib",
                   "visib2",
                   "wdsp",
                   "wdsp2",
                   "mxspd",
                   "gust",
                   "max",
                   "min",
                   "prcp",
                   "sndp",
                   "frshtt"
               ])

In [34]:
gsod_mergeddf = gsod_mergeddf[gsod_mergeddf['station'] != '999999']
gsod_mergeddf = gsod_mergeddf.set_index('station')
gsod_mergeddf.head()

,wban,yearday,temp,temp2,dewp,dewp2,slp,slp2,stp,stp2,...,visib2,wdsp,wdsp2,mxspd,gust,max,min,prcp,sndp,frshtt
station,,,,,,,,,,,,,,,,,,,,,
STN---,WBAN,YEARMODA,TEMP,DEWP,SLP,STP,VISIB,WDSP,MXSPD,GUST,...,MIN,PRCP,SNDP,FRSHTT,NaN,NaN,NaN,NaN,NaN,NaN
008260,99999,20100101,33.0,24,31.3,24,9999.9,0,9999.9,0,...,24,5.1,24,13.0,21.0,39.9,19.4*,0.09G,999.9,10000.0
008260,99999,20100102,31.3,24,30.0,24,9999.9,0,9999.9,0,...,24,7.7,24,19.0,25.1,42.8*,19.4*,0.01G,999.9,111000.0
008260,99999,20100103,21.3,24,17.6,17,9999.9,0,9999.9,0,...,24,18.6,24,26.0,37.9,44.6*,15.8*,0.00G,999.9,111000.0
008260,99999,20100104,27.6,24,20.7,24,9999.9,0,9999.9,0,...,24,12.3,24,20.0,28.0,32.0*,14.0*,0.01G,999.9,1000.0

In [35]:
mergedgsodcounty = gsod_mergeddf.merge(gsodcountydf, left_index=True, right_index=True)
mergedgsodcounty.head()

,wban,yearday,temp,temp2,dewp,dewp2,slp,slp2,stp,stp2,...,max,min,prcp,sndp,frshtt,lat,long,state,placeid,county
station,,,,,,,,,,,,,,,,,,,,,
690150,93121,20100101,44.4,24,20.4,24,1028.3,24,947.5,24,...,61.0*,33.1*,0.00I,999.9,0.0,34.3,-116.167,CA,282407159,San Bernardino County
690150,93121,20100101,44.4,24,20.4,24,1028.3,24,947.5,24,...,61.0*,33.1*,0.00I,999.9,0.0,34.3,-116.167,CA,282407159,San Bernardino County
690150,93121,20100102,50.9,24,19.9,24,1022.8,24,942.8,24,...,68.0*,39.9*,0.00I,999.9,0.0,34.3,-116.167,CA,282407159,San Bernardino County
690150,93121,20100102,50.9,24,19.9,24,1022.8,24,942.8,24,...,68.0*,39.9*,0.00I,999.9,0.0,34.3,-116.167,CA,282407159,San Bernardino County
690150,93121,20100103,47.8,24,19.1,24,1022.8,24,942.7,24,...,66.9*,33.1*,0.00I,999.9,0.0,34.3,-116.167,CA,282407159,San Bernardino County

In [36]:
mergedgsodcounty.to_csv('LatestData/gsod_2010.csv')